<flynt-component load:on="idle" load:on:media="(max-width: 1023px)" name="NavigationBurger">
  <nav aria-label="{{ labels.ariaLabel|e }}">
    <div class="container">
      {% include 'Partials/_logo.twig' with { 'logo': logo, 'site': site } only %}
      {% if menu %}
        {% include 'Partials/_hamburger.twig' with { 'labels': labels } only %}
      {% endif %}
    </div>
    {% if menu %}
      {% include 'Partials/_menu.twig' with { 'items': menu.items } only %}
    {% endif %}
  </nav>
</flynt-component>

{# <div class="site-logo">
  <a data-cursor-expand href="/">
    <Image class='site-logo-transparent' src={siteLogoTransparent} alt="Cleardigital logo Transparent" />
    <Image class='site-logo-white' src={siteLogoWhite} alt="Cleardigital logo White" />
  </a>
</div>
<nav class="">
  
  <div class="main-menu-action">
    <a href="/" class="button button-large">Let's Talk</a>
  </div>
</nav> #}