flynt-component[name='SliderQuote'] {
  overflow: hidden;

  .intro {
    margin-block-end: var(--flow-space-medium);
  }

  .testimonials {
    display: flex;
    flex-wrap: nowrap;

    &-slider {
      overflow: visible;
    }
  }

  .testimonial {
    @include row;

    &-outer {
      @include col(12);
    }

    &-image,
    &-statistics {
      @include col(12);
      block-size: 100%;

      @media (min-width: $breakpoint-tablet-horizontal) {
        @include col(6);
      }
    }

    &-figure,
    &-counter {
      block-size: 100%;
      margin: 0;

      @media (min-width: $breakpoint-tablet-horizontal) {
        margin-inline-end: calc(((var(--content-max-width-full) - (var(--container-spacing) * 2)) / 12));
      }
    }

    &-figureImage {
      block-size: 100%;
      object-fit: cover;
      overflow: hidden;
    }

    &-statistics {
      p {
        font-weight: normal;
        margin-block-start: var(--flow-space);
      }
    }

    &-counterNumber,
    &-counterSuffix {
      color: var(--color-accent);
    }

    &-content {
      @include col;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-block-start: 4rem;
      position: relative;

      @media (min-width: $breakpoint-tablet-horizontal) {
        margin-block-start: 0;
      }
    }

    &-text {
      border: 0;
      font-style: normal;
      margin: 0;
      max-inline-size: 1290px;
      padding: 0;
    }

    &-author {
      color: var(--color-accent);
      margin-block-start: var(--flow-space-medium);
    }

    &-author-logo {
      block-size: 2.2rem;
      margin-block-start: var(--flow-space);
      max-inline-size: 15.7rem;

      img {
        block-size: 100%;
        object-fit: contain;
      }
    }

    &-link {
      margin-block-start: var(--flow-space-small);
    }

    &-sliderProgressbar {
      margin-block-start: var(--flow-space-large);
    }

    &-sliderArrow {
      &--prev,
      &--next {
        background-color: var(--color-background);
      }
    }
  }

  .logos {
    margin-block-start: var(--flow-space-large);
    position: relative;
    --gradient-fade-size: 25%;

    &::before {
      background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
      block-size: 100%;
      content: '';
      inline-size: var(--gradient-fade-size);
      inset-block: 0;
      inset-inline-start: 0;
      position: absolute;
      z-index: 2;
    }

    &::after {
      background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
      block-size: 100%;
      content: '';
      inline-size: var(--gradient-fade-size);
      inset-block: 0;
      inset-inline-end: 0;
      position: absolute;
      z-index: 2;
    }

    &-list {
      @include row-cols(3);
      --flow-space: var(--flow-space-medium);
      flex-wrap: nowrap;
      inline-size: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      @media (min-width: $breakpoint-tablet) {
        @include row-cols(6);
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        @include row-cols(7);
      }

      @media (min-width: $breakpoint-desktop) {
        @include row-cols(8);
      }

      .swiper-wrapper {
        transition-timing-function: linear;
      }
    }
  }

  .logo {
    block-size: 8.4rem;
    margin: auto;
    max-inline-size: 19.3rem;
    text-align: center;

    &-image {
      block-size: 100%;
      object-fit: contain;
    }
  }
}
