flynt-component[name='SliderQuote'] {
  overflow: hidden;

  .intro {
    margin-bottom: var(--flow-space-medium);
  }

  .logos {
    margin-bottom: var(--flow-space-medium);

    &-list {
      @include row;
      @include row-cols(2);
      list-style: none;
      margin: 0;
      padding: 0;

      @media (min-width: $breakpoint-tablet) {
        @include row-cols(3);
      }

      @media (min-width: $breakpoint-tablet) {
        @include row-cols(4);
      }

      @media (min-width: $breakpoint-tablet) {
        @include row-cols(5);
      }
    }
  }

  .logo {
    height: 8.4rem;
    margin: auto;
    max-width: 19.3rem;
    text-align: center;

    &-image {
      height: 100%;
      object-fit: contain;
    }
  }

  .testimonials {
    display: flex;
    flex-wrap: nowrap;

    &-slider {
      overflow: visible;
    }
  }

  .testimonial {
    @include row;

    &-outer {
      @include col(12);
    }

    &-image {
      @include col(12);
      height: 100%;

      @media (min-width: $breakpoint-tablet-horizontal) {
        @include col(5);
      }
    }

    &-figure {
      height: 100%;
      margin: 0;
    }

    &-figureImage {
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }

    &-content {
      @include col;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 4rem;
      position: relative;

      @media (min-width: $breakpoint-tablet-horizontal) {
        @include offset(1);
        margin-top: 0;
      }
    }

    &-text {
      border: 0;
      font-style: normal;
      margin-bottom: 0;
      margin-left: 0;
      margin-top: var(--flow-space-medium);
      padding: 0;
    }

    &-author {
      margin-top: 2rem;
    }

    &-author-logo {
      height: 2.2rem;
      margin-top: var(--flow-space-medium);
      max-width: 15.7rem;

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    &-link {
      margin-top: var(--flow-space-medium);
    }

    &-sliderArrow {
      &--prev,
      &--next {
        background-color: var(--color-background);
      }
    }
  }
}
