flynt-component[name='BlockThreeColContent'] {
  .intro {
    max-inline-size: 117rem;

    &-eyebrow {
      @include typography-eyebrow;
    }

    &-blurb {
      @include typography-blurb;
      margin-block-start: var(--flow-space-large);
    }
  }

  .features {
    @include row;

    .art {
      padding-inline: 0;
    }
  }

  .feature {
    @include col(12);
    margin-block-start: var(--flow-space-large);

    @media (min-width: $breakpoint-tablet) {
      @include col(6);
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include col(4);
      padding-inline-end: 8.33333%;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .icon-wrap {
      block-size: 80px;
      margin-block-end: 2rem;
      max-inline-size: 80px;
    }

    p {
      margin-block-start: 1rem;
    }
  }
}
