<flynt-component name="BlockThreeColContent" class="componentSpacing overlay-grid" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
	<div class="container">
		<div class="intro">
			<span class="intro-eyebrow">20+ years of success.</span>
			<h2 class="intro-headline">
        <span class="art art--rocket">We deliver results-driven digital experiences that get you to what’s
				<span class="marker marker--underline">next</span>.</span>
      </h2>
			<p class="intro-blurb">Clear Digital is a Silicon Valley-based website design agency that helps you build and accelerate your web, brand, and digital marketing by providing expert, strategic, and data-informed solutions that deliver results.</p>
		</div>
		<div class="features">
      <span class="art art--arrow"></span>
			<div class="feature">
        <a href="/">
          <div class="icon-wrap">
            <img src="{{ theme.link }}/Components/BlockThreeColContent/Assets/icon-collaboration-focus.svg" width="80" height="80" alt="Logo">
          </div>
          <h2 class="h4">Collaboration focus.</h2>
          <p>Torem ipsum dolor sit amet, consectetur adipiscing at elit. Nunc vulputate libero dolore aliqua et.</p>
        </a>
			</div>
			<div class="feature">
        <a href="/">
          <div class="icon-wrap">
            <img src="{{ theme.link }}/Components/BlockThreeColContent/Assets/icon-b2b-performance.svg" width="80" height="80" alt="Logo">
          </div>
          <h2 class="h4">B2B performance driven.</h2>
          <p>Torem ipsum dolor sit amet, consectetur adipiscing at elit. Nunc vulputate libero dolore aliqua et.</p>
				</a>
			</div>
			<div class="feature">
        <a href="/">
          <div class="icon-wrap">
            <img src="{{ theme.link }}/Components/BlockThreeColContent/Assets/icon-design-development.svg" width="80" height="80" alt="Logo">
          </div>
          <h2 class="h4">Design + development excellence.</h2>
          <p>Torem ipsum dolor sit amet, consectetur adipiscing at elit. Nunc vulputate libero dolore aliqua et.</p>
				</a>
			</div>
		</div>
	</div>
</flynt-component>
