<div class="footer-primary bg-black">
  <div class="container">
    <div class="title">
      <h4>Confidently navigating <span class="text-pink">change.</span></h4>
    </div>
    <div class="footer-primary-items">
      <div class="logo-wrap">
        <div class="external-logo">
          <a data-cursor-expand href="/" class="empty-link" aria-label="logo-link"></a>
          <img src="{{ theme.link }}/Components/Footer/Assets/myrious-white-logo.svg" alt="myrious white logo">
        </div>
      </div>
      <div class="content-wrap">
        <div class="content-wrap-inner">
          <h5>Clear Digital is a founding member of Myrious Group’s expertise-driven agencies.</h5>
          <p>Myrious Group is an independent holding company enabling forward-thinking brands to achieve breakthrough performance through power of orchestration. </p>
          <div class="btn-wrapper">
            <a data-cursor-expand href="/" class="button button--text">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>