<ul class="footer__links mt-8 mt-md-0">
  <li>
    <a data-cursor-expand href="/" class="footer__link subtitle">Work</a>
  </li>
  <li>
    <a data-cursor-expand href="/" class="footer__link subtitle">Approach</a>
  </li>
  <li>
    <a data-cursor-expand href="/" class="footer__link subtitle">Services </a>
  </li>
  <li>
    <a data-cursor-expand href="/" class="footer__link subtitle">About </a>
  </li>
  <li>
    <a data-cursor-expand href="/" class="footer__link subtitle">Contact Us</a>
  </li>
</ul>