<flynt-component name="NavigationFooter" data-theme"dark">
  <div class="container">
    <div class="footer-bottom">
      <div class="footer-items">
        <div class="footer-logo">
            <a data-cursor-expand href="/" class="footer-icon" aria-label="logo-link">
              <img src="{{ theme.link }}/Components/NavigationFooter/Assets/clear-digital-black-logo.svg" alt="clear digital black logo">
            </a>
        </div>
        <div class="footer-links">
          <ul class="">
            <li>
              <a data-cursor-expand href="/" class="footer-link-sm">© 2023 Clear Digital , Inc.</a>
            </li>
            <li>
              <a data-cursor-expand href="/" class="footer-link-sm">Email Subscriptions</a>
            </li>
            <li>
              <a data-cursor-expand href="/" class="footer-link-sm">Terms of Use</a>
            </li>
            <li>
              <a data-cursor-expand href="/" class="footer-link-sm">Privacy</a>
            </li>
            <li>
              <a data-cursor-expand href="/" class="footer-link-sm">Cookie Policy</a>
            </li>
            <li>
              <a data-cursor-expand href="/" class="footer-link-sm">Cookie Settings</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</flynt-component>