flynt-component[name='BlockTabsWithContent'] {
  background-color: var(--color-background);

  .intro {
    h3 {
      margin-block-end: 0;
      padding-block-start: 0;
    }
  }

  .tabs-with-content {
    &-items {
      position: relative;
    }

    &-content {
      .tab-body {
        margin-block-start: var(--flow-space-medium)
      }
    }
  }

  .tabs {
    &-list {
      @include row;
    }

    &-item {
      @include col(12);

      @media (min-width: $breakpoint-tablet) {
        @include col(6);
      }
    }
  }

  .tab {
    &-head {
      align-items: center;
      border-block-end: 0.1rem solid var(--color-border);
      display: flex;
      justify-content: space-between;
      padding: 4rem 0;

      @media (min-width: $breakpoint-tablet) {
        display: block;
        padding: 5rem 0;
      }

      h4 {
        margin-block-end: 0;
        padding-block-start: 0;
      }
    }

    &-body {
      background-color: var(--color-background);
      block-size: 100%;
      border-block-end: 0.1rem solid var(--color-border);
      inline-size: 100%;
      padding-block-end: 5rem;
      position: relative;

      @media (min-width: $breakpoint-tablet) {
        border-block-start: 0.1rem solid var(--color-background);
        display: none;
        padding: 5rem 0;
      }

      &.collapse:not(.show) {
        @media (max-width: $breakpoint-tablet - 1px) {
          display: none;
        }
      }

      &.collapsing {
        block-size: 0;
        overflow: hidden;
        transition: 0.35s height ease;
      }
    }

    &-bodyInner {
      @include row;
    }

    &-image {
      @include col(12);

      @media (min-width: $breakpoint-tablet) {
        @include col(6);
      }
    }

    &-content {
      @include col(12);

      @media (min-width: $breakpoint-tablet) {
        @include col(6);
      }

      h4 {
        margin-block-start: var(--flow-space-small)
      }

      p {
        margin-block-start: var(--flow-space-small)
      }
    }

    &-figure {
      block-size: 100%;
      margin-block-end: 0;
      max-block-size: 53.5rem;
      max-inline-size: 45rem;

      img {
        block-size: auto;
        inline-size: 100%;
        object-fit: contain;
      }
    }

    &-closeButton {
      block-size: 3rem;
      cursor: pointer;
      display: none;
      inline-size: 3rem;
      inset-block-start: 5rem;
      inset-inline-end: 0;
      padding: 0;
      position: absolute;

      @media (min-width: $breakpoint-tablet) {
        display: inline-block;
      }
    }

    &-expandButton {
      block-size: 3.5rem;
      border: 0.4rem solid var(--color-accent);
      border-radius: 50%;
      display: inline-block;
      inline-size: 3.5rem;
      position: relative;

      @media (min-width: $breakpoint-tablet) {
        display: none;
      }

      &::before {
        background-color: var(--color-accent);
        block-size: 0.4rem;
        border-radius: 1rem;
        content: '';
        inline-size: 1.3rem;
        inset-block-start: 50%;
        inset-inline-start: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
      }

      &::after {
        background-color: var(--color-accent);
        block-size: 1.3rem;
        border-radius: 1rem;
        content: '';
        inline-size: 0.4rem;
        inset-block-start: 50%;
        inset-inline-start: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease-in-out;
      }
    }

    &-isOpen {
      .tab-head {
         @media (max-width: $breakpoint-tablet - 1px) {
          border-block-end: 0;
        }
      
      }

      .tab-expandButton {
        &::after {
          opacity: 0;
        }
      }
    }
  }
}