flynt-component[name='BlockImageTwoCol'] {
  overflow: hidden;
  padding: 0 !important;

  .columns {
    @include row(0);

    &-outer {
      &.swiper {
        .swiper-wrapper {
          @media (min-width: $breakpoint-tablet) {
            flex-wrap: nowrap;
          }
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: none;

        @media (min-width: $breakpoint-tablet-horizontal) {
          display: block;
        }
      }

      .swiper-button-next {
        right: calc(-100% + var(--container-spacing)) !important;
      }

      .swiper-button-prev {
        left: calc(-100% + var(--container-spacing)) !important;
      }
    }
  }

  .column {
    @include col(12);
    height: 100vh;
    position: relative;

    @media (min-width: $breakpoint-tablet) {
      @include col(6);
    }
  }

  .figure {
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;

    .figure-image {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  video {
    height: 100vh;
    margin: 0;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .content {
    bottom: var(--component-spacing);
    left: 0;
    padding-left: var(--container-spacing);
    padding-right: var(--container-spacing);
    position: absolute;
    width: auto;

    @media (min-width: $breakpoint-desktop) {
      max-width: 66.66667%;
    }

    .marker {
      color: var(--color-background);
    }
  }

  .logo {
    display: inline-block;
    height: 4rem;
    margin-top: var(--flow-space-medium);
    max-width: 19.5rem;
    overflow: hidden;
    width: 100%;

    .logo-image {
      height: 100%;
      object-fit: contain;
    }
  }
}
