flynt-component[name='BlockImageTwoCol'] {
  overflow: hidden;
  padding: 0 !important;

  .columns {
    @include row(0);

    &-outer {
      &.swiper {
        .swiper-wrapper {
          @media (min-width: $breakpoint-tablet) {
            flex-wrap: nowrap;
          }
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: none;

        @media (min-width: $breakpoint-tablet-horizontal) {
          display: block;
        }
      }

      .swiper-button-next {
        inset-inline-end: calc(-100% + var(--container-spacing)) !important;
      }

      .swiper-button-prev {
        inset-inline-start: calc(-100% + var(--container-spacing)) !important;
      }
    }
  }

  .column {
    @include col(12);
    block-size: 100vh;
    position: relative;

    @media (min-width: $breakpoint-tablet) {
      @include col(6);
    }
  }

  .figure {
    block-size: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;

    .figure-image {
      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;
    }
  }

  video {
    block-size: 100vh;
    inline-size: 100%;
    margin: 0;
    object-fit: cover;
    overflow: hidden;
    position: relative;
  }

  .content {
    inline-size: auto;
    inset-block-end: var(--component-spacing);
    inset-inline-start: 0;
    padding-inline: var(--container-spacing);
    position: absolute;

    @media (min-width: $breakpoint-desktop) {
      max-inline-size: 66.66667%;
    }

    .marker {
      color: var(--color-background);
    }
  }

  .logo {
    block-size: 4rem;
    display: inline-block;
    inline-size: 100%;
    margin-block-start: var(--flow-space-medium);
    max-inline-size: 19.5rem;
    overflow: hidden;

    .logo-image {
      block-size: 100%;
      object-fit: contain;
    }
  }
}
