flynt-component[name='BlockImageTwoCol'] {
  overflow: hidden;
  padding: 0 !important;

  .columns {
    @include row(0);

    &-outer {
      &.swiper {
        .swiper-wrapper {
          @media (min-width: $breakpoint-tablet) {
            flex-wrap: nowrap;
          }
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: none;

        @media (min-width: $breakpoint-tablet-horizontal) {
          display: block;
        }
      }

      .swiper-button-next {
        right: calc(-100% + #{$container-padding-mobile}) !important;

        @media (min-width: $breakpoint-tablet) {
          right: calc(-100% + #{$container-padding-tablet}) !important;
        }

        @media (min-width: $breakpoint-desktop) {
          right: calc(-100% + #{$container-padding-desktop}) !important;
        }
      }

      .swiper-button-prev {
        left: calc(-100% + #{$container-padding-mobile}) !important;

        @media (min-width: $breakpoint-tablet) {
          left: calc(-100% + #{$container-padding-tablet}) !important;
        }

        @media (min-width: $breakpoint-desktop) {
          left: calc(-100% + #{$container-padding-desktop}) !important;
        }
      }
    }
  }

  .column {
    @include col(12);
    height: 100vh;
    position: relative;

    @media (min-width: $breakpoint-tablet) {
      @include col(6);
    }
  }

  .figure {
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;

    .figure-image {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  video {
    height: 100vh;
    margin: 0;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .content {
    bottom: $component-spacing-mobile;
    left: 0;
    padding-left: $container-padding-mobile;
    padding-right: $container-padding-mobile;
    position: absolute;
    width: auto;

    @media (min-width: $breakpoint-tablet) {
      bottom: $component-spacing-tablet;
      padding-left: $container-padding-tablet;
      padding-right: $container-padding-tablet;
    }

    @media (min-width: $breakpoint-desktop) {
      bottom: $component-spacing-desktop;
      max-width: 66.66667%;
      padding-left: $container-padding-desktop;
      padding-right: $container-padding-desktop;
    }

    .marker {
      color: $color-background;
    }
  }

  .logo {
    @include spacing('medium');
    display: inline-block;
    height: 4rem;
    max-width: 19.5rem;
    overflow: hidden;
    width: 100%;

    .logo-image {
      height: 100%;
      object-fit: contain;
    }
  }
}
