<div class="report-card mt-8 mt-lg-0">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-5">
      <div class="report-card__img">
        <img src="{{ theme.link }}/Components/Footer/Assets/radial-pink-img.png" alt="Card image">
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-7">
      <div class="report-card__content mt-6 mt-md-0">
        <h4 class="mb-6">2023 Fortune 500 B2B Homepage Rankings Report</h4>
        <p class="body-default">Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.</p>
        <div class="report-card__action mt-6">
          <a data-cursor-expand href="/" class="btn-tertiary-white">Download</a>
        </div>
      </div>
    </div>
  </div>
</div>