 ul {
   column-gap: 15px;
   display: flex;
   list-style: none;

   @media (min-width: $breakpoint-tablet-horizontal) {
     column-gap: 20px;
   }

   li {
     &:not(:first-child) {
       @media (max-width: $breakpoint-tablet) {
         margin-top: 16px;
       }
     }

     a {
       color: var(--color-border-secondary);
       text-decoration: none;
       transition: color 0.3s ease-in-out;

       &:hover {
         color: var(--color-accent);
       }
     }
   }
 }