.social {
  &-icons {
    column-gap: 20px;
  }

  &__icon {
    block-size: 25px;
    border-radius: 50%;
    display: inline-block;
    inline-size: 25px;

    svg {
      path {
        fill: $dark-grey;
        transition: fill 0.3s ease-in-out;
      }
    }

    &:hover {
      svg {
        path {
          fill: $pink;
        }
      }
    }
  }
}