flynt-component[name='SliderPosts'] {
  overflow: hidden;

  .content {
    @include row;

    &--logos {
      align-items: center;
      margin-top: 6rem;

      @media (min-width: $breakpoint-tablet) {
        margin-top: var(--component-spacing);
      }
    }
  }

  .intro {
    @include col(12);

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include col(5);
    }

    p {
      @include typography-blurb;
    }
  }

  .posts {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 4rem;

    @media (min-width: $breakpoint-tablet-horizontal) {
      margin-top: 0;
    }

    &-outer {
      @include col(12);

      @media (min-width: $breakpoint-tablet-horizontal) {
        @include col(6);
        @include offset(1);
      }
    }
  }

  .swiper {
    position: relative;

    @media (min-width: $breakpoint-tablet) {
      clip-path: inset(-100vw -100vw -100vw 0.2rem);
    }

    &-container-initialized {
      .swiper-wrapper {
        display: flex;
        flex-wrap: nowrap;
      }
    }

    &-button {
      &-next {
        right: calc(-100% + 16.66667%) !important;
      }

      &-prev {
        left: calc(-100% + 8.33333%) !important;
      }

      &-prev {
        &.swiper-button-disabled {
          opacity: 1;
        }
      }
    }
  }

  .post {
    height: 30.9rem;
    position: relative;

    @media (min-width: $breakpoint-mobile-horizontal) {
      height: 49.3rem;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      height: 51.1rem;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      height: 36rem;
    }

    @media (min-width: $breakpoint-desktop) {
      height: 55rem;
    }

    &-outer {
      @include col(11);
      margin-right: calc(var(--column-gap) * 2);
    }

    &-image {
      display: block;
      height: 100%;
      overflow: hidden;
      position: relative;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      bottom: 0;
      left: 0;
      position: absolute;

      p {
        display: none;
        margin-top: var(--flow-space-medium);

        @media (min-width: $breakpoint-tablet) {
          display: block;
        }
      }
    }
  }

  .logos {
    @include col(12);

    @media (min-width: $breakpoint-tablet-horizontal) {
      @include col(8);
    }

    &-heading {
      @include col(12);

      @media (min-width: $breakpoint-tablet-horizontal) {
        @include col(4);
      }
    }

    &-list {
      @include row;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;

      .logos-item {
        @include col(6);
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: var(--flow-space-large);

        @media (min-width: $breakpoint-tablet) {
          @include col(3);
        }

        @media (min-width: $breakpoint-tablet-horizontal) {
          margin-top: 0;
        }
      }
    }
  }

  .logo {
    align-items: center;
    display: flex;
    height: 4.6rem;
    max-width: 11.3rem;

    @media (min-width: $breakpoint-tablet) {
      max-width: 15.3rem;
    }

    &-image {
      height: 100%;
      object-fit: contain;
      overflow: hidden;
    }
  }
}
