<ul data-ref="menu" id="navigationBurger-menu" class="menu">
  {% for item in items %}
  <li class="item {{- item.current ? ' current-menu-item' }}">
    <a class="link" href="{{ item.link|e('esc_url') }}" {{- item.is_external or item.is_target_blank ? ' target="_blank" rel="noopener noreferrer"' -}}>{{ item.title }}</a>
  </li>
  {% endfor %}
</ul>


<ul class="main-menu">
  <li class="main-menu-item">
    <div class="main-menu-item-inner">
      <a data-cursor-expand href="/work" class="link">Work</a><span class="expand-btn"></span>
    </div>
    <div class="megamenu megamenu-dropdown collapse">
      <span class="side-bg side-bg--left"></span>
      <div class="container">
        <div class="megamenu-items">
          <div class="megamenu-content-outer">
            <div class="megamenu-content">
              <h2 class="graphic-effect-underline" data-underline-image="black-1">
                Work
              </h2>
              <p>
                Sed sollicitudin odio ac ornare consequat. Ut massa
                justo, hendrerit vel nunc non, tempus blandit enim.
                Vivamus gravida velit lorem ipsum dolor sit amet.
              </p>
              <a class="button button--text" href="/">Overview</a>
            </div>
          </div>
          <div class="megamenu-link-lists-outer">
            <div class="megamenu-link-lists">
              <div class="megamenu-links-outer">
                <div class="megamenu-links">
                  <ul class="menu">
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Case Studies</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Clients</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Industry Focus</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Outcomes</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="side-bg side-bg--right"></span>
    </div>
  </li>
  <li class="main-menu-item">
    <div class="main-menu-item-inner">
      <a data-cursor-expand href="/approach">Approach</a><span class="expand-btn"></span>
    </div>
    <div class="megamenu megamenu-dropdown collapse">
      <div class="container">
        <div class="megamenu-items">
          <div class="megamenu-content-outer">
            <div class="megamenu-content">
              <h2 class="graphic-effect-underline" data-underline-image="black-1">
                Approach
              </h2>
              <p>
                Sed sollicitudin odio ac ornare consequat. Ut massa
                justo, hendrerit vel nunc non, tempus blandit enim.
                Vivamus gravida velit lorem ipsum dolor sit amet.
              </p>
              <a class="button button--text" href="/">Overview</a>
            </div>
          </div>
          <div class="megamenu-link-lists-outer">
            <div class="megamenu-link-lists">
              <div class="megamenu-links-outer">
                <div class="megamenu-links">
                  <ul class="menu">
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Collaboration Focus</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Driving B2B Results</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Design & Development Excellence</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="main-menu-item">
    <div class="main-menu-item-inner">
      <a data-cursor-expand href="/services">Services</a><span class="expand-btn"></span>
    </div>
    <div class="megamenu megamenu-dropdown collapse">
      <div class="container">
        <div class="megamenu-items">
          <div class="megamenu-content-outer">
            <div class="megamenu-content">
              <h2 class="graphic-effect-underline" data-underline-image="black-1">
                Services
              </h2>
              <p>
                Sed sollicitudin odio ac ornare consequat. Ut massa
                justo, hendrerit vel nunc non, tempus blandit enim.
                Vivamus gravida velit lorem ipsum dolor sit amet.
              </p>
              <a class="button button--text" href="/">Overview</a>
            </div>
          </div>
          <div class="megamenu-link-lists-outer">
            <div class="megamenu-link-lists">
              <div class="megamenu-links-outer">
                <div class="megamenu-links">
                  <ul class="menu">
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Brand Strategy</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Content Development</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Creative Services</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Digital Marketing</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Digital Strategy</a>
                    </li>
                  </ul>
                </div>
                <div class="megamenu-links">
                  <ul class="menu">
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Motion Graphics</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Systems Support</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">UX/UI Design</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Web Development</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="main-menu-item">
    <div class="main-menu-item-inner">
      <a data-cursor-expand href="/insights">Insights</a><span class="expand-btn"></span>
    </div>
    <div class="megamenu megamenu-dropdown collapse">
      <div class="container">
        <div class="megamenu-items">
          <div class="megamenu-content-outer">
            <div class="megamenu-content">
              <h2 class="graphic-effect-underline" data-underline-image="black-1">
                Insights
              </h2>
              <p>
                Sed sollicitudin odio ac ornare consequat. Ut massa
                justo, hendrerit vel nunc non, tempus blandit enim.
                Vivamus gravida velit lorem ipsum dolor sit amet.
              </p>
              <a class="button button--text" href="/">Overview</a>
            </div>
          </div>
          <div class="megamenu-link-lists-outer">
            <div class="megamenu-link-lists">
              <div class="row megamenu-links-outer">
                <div class="megamenu-links">
                  <ul class="menu">
                    <li class="menu-item">
                      <a data-cursor-expand href="/">White Papers</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Videos</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Infographics</a>
                    </li>
                  </ul>
                </div>
                <div class="megamenu-links">
                  <ul class="menu">
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Podcasts</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Client in the News</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Press Releases</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="main-menu-item">
    <div class="main-menu-item-inner">
      <a data-cursor-expand href="/about">About</a><span class="expand-btn"></span>
    </div>
    <div class="megamenu megamenu-dropdown collapse">

      <div class="container">
        <div class="megamenu-items">
          <div class="megamenu-content-outer">
            <div class="megamenu-content">
              <h2 class="graphic-effect-underline" data-underline-image="black-1">
                About Clear
              </h2>
              <p>
                Sed sollicitudin odio ac ornare consequat. Ut massa
                justo, hendrerit vel nunc non, tempus blandit enim.
                Vivamus gravida velit lorem ipsum dolor sit amet.
              </p>
              <a class="button button--text" href="/">Overview</a>
            </div>
          </div>
          <div class="megamenu-link-lists-outer">
            <div class="megamenu-link-lists">
              <div class="megamenu-links-outer">
                <div class="megamenu-links">
                  <ul class="menu">
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Brand Story</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">History</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Team</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Awards</a>
                    </li>
                  </ul>
                </div>
                <div class="megamenu-links">
                  <ul class="menu">
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Partners</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">News</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Careers</a>
                    </li>
                    <li class="menu-item">
                      <a data-cursor-expand href="/">Contact Us</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>