<div class="site-logo">
  <a data-cursor-expand href="/">
    <img class='site-logo-transparent' src="{{ theme.link }}/Components/NavigationMain/Assets/cleardigital-logo-transparent.svg" width="135" height="35" alt="Cleardigital logo Transparent" />
    <img class='site-logo-white' src="{{ theme.link }}/Components/NavigationMain/Assets/cleardigital-logo-white.svg" width="135" height="35" alt="Cleardigital logo White" />
  </a>
</div>

