.site-logo {
  block-size: 3.5rem;
  inline-size: 100%;
  max-inline-size: 11.1rem;
  position: relative;

  &::before {
    background-color: var(--header-background-color);
    block-size: 94%;
    content: "";
    inline-size: 100%;
    inset-block-end: -100%;
    inset-inline-end: 0;
    position: absolute;
    transition: var(--header-color-transition);

    @media (max-width: $breakpoint-tablet-horizontal) {
      block-size: 80%;
      inset-block-end: -86%;
    }
  }

  &::after {
    background-color: var(--header-background-color);
    block-size: 100%;
    content: "";
    inline-size: 100%;
    inset-block-start: -100%;
    inset-inline-start: 0;
    position: absolute;
    transition: var(--header-color-transition);
  }

  >a {
    display: inline-block;
    inline-size: calc(100% + 2px);
    margin-inline: -1px;
  }

  &-white {
    display: block;
  }

  &-transparent {
    display: none;
  }

  img {
    block-size: 100%;
    object-fit: contain;
    opacity: 1;
    transition: opacity 140ms ease-in-out;
  }
}