.menu {
  align-items: center;
  display: flex;
  list-style: none;

  .link {
    color: currentColor;
    display: inline-block;
    font-weight: bold;
    margin-left: 5rem;
    padding: 4.8rem 0;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    will-change: color;

    &:hover {
      color: var(--color-accent);
    }
  }

  .current-menu-item {
    .link {
      color: var(--color-accent);
      text-decoration: underline;
    }
  }
}