<flynt-component name="NavigationFooterColunm" data-theme"dark">
  <div class="footer__main bg-black">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="contact-links mt-8 mt-md-12">
            <p class="contact-links__item contact-links__item--location body-default"><a data-cursor-expand href="/" aria-label="location link" class="empty-link"></a>1570 The Alameda #330, San Jose, CA 95126</p>
            <p class="contact-links__item contact-links__item--phone body-default"><a data-cursor-expand href="tel:408.246.0000" aria-lable="phone link" class="empty-link"></a>408.246.0000</p>
          </div>
          
        </div>
        <div class="col-12 col-md-6 col-lg-2">
          
        </div>
        <div class="col-12 col-lg-6">
         
        </div>
      </div>
    </div>
  </div>
  <div class="footer__primary bg-black">
    <div class="container">
      <h4 class="pb-12">Confidently navigating <span class="text-pink">change.</span></h4>
      <div class="footer__primary--wrapper">
        <div class="row">
          <div class="col-12 col-md-2">
            <div class="footer__external--logo">
              <a data-cursor-expand href="/" class="empty-link" aria-label="logo-link"></a>
              <img src="{{ theme.link }}/Components/Footer/Assets/myrious-white-logo.svg" alt="myrious white logo">
            </div>
          </div>
          <div class="col-12 col-md-10 mt-6 mt-md-0">
            <div class="content-wrapper">
              <h5 class="mb-6">Clear Digital is a founding member of Myrious Group’s expertise-driven agencies.</h5>
              <p>Myrious Group is an independent holding company enabling forward-thinking brands to achieve breakthrough performance through power of orchestration. </p>
              <div class="btn-wrapper mt-6">
                <a data-cursor-expand href="/" class="btn-tertiary-white">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</flynt-component>