flynt-component[name='NavigationFooterColumns'] {
  font-size: var(--font-size-body-small);

  .footer {
    padding-block-start: 50px;

    @media (min-width: $breakpoint-tablet) {
      padding-block-start: 100px;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      padding-block-start: 150px;
    }

    ul {
      list-style: none;
      margin-block-end: 0;
      padding-inline-start: 0;
    }

    .contact-links {
      &__item {
        cursor: pointer;
        padding-inline-start: 40px;
        position: relative;
        transition: color 0.3s ease-in-out;

        &:not(:first-child) {
          margin-block-start: 25px;
        }

        &::before {
          block-size: 24px;
          content: '';
          inline-size: 24px;
          inset-inline-start: 0;
          position: absolute;
        }

        &:hover {
          color: var(--accent);
        }

        &--location {
          &::before {
            background: url('./../assets/icons/map-pin-pink.svg') no-repeat center;
            background-size: contain;
          }
        }

        &--phone {
          &::before {
            background: url('./../assets/icons/smartphone-pink.svg') no-repeat center;
            background-size: contain;
          }
        }
      }
    }

    &-links {
      li {
        &:not(:first-child) {
          margin-block-start: 30px;
        }
      }
    }

    &-link {
      color: var(--white);
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--accent);
      }
    }

    &-external {
      &-logo {
        block-size: 75px;
        max-inline-size: 115px;
        position: relative;

       @media (max-inline-size: $breakpoint-tablet) {
          block-size: 65px;
          max-inline-size: 100px;
        }

        img {
          block-size: 100%;
          object-fit: contain;
        }
      }
    }

    &-main {
      color: var(--white);
      padding-block-end: 94px;

      @media (min-width: $breakpoint-tablet) {
        padding-block-end: 144px;
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        padding-block-end: 256px;
      }
    }

    &-primary {
      color: var(--white);

      .content-wrapper {
        @media (min-width: $breakpoint-tablet-horizontal) {
          max-inline-size: 73%;
        }
      }
    }

    &-primary-wrapper {
      border-block-start: 1px solid var(--white);
      padding: 50px 0;
    }
  }

  @import 'Partials/footerPrimary';
}

