<flynt-component name="NavigationFooterColumns" data-theme"dark">
  <div class="footer-main bg-black">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="contact-links mt-8 mt-md-12">
            <p class="contact-links__item contact-links__item--location body-default"><a data-cursor-expand href="/" aria-label="location link" class="empty-link"></a>1570 The Alameda #330, San Jose, CA 95126</p>
            <p class="contact-links__item contact-links__item--phone body-default"><a data-cursor-expand href="tel:408.246.0000" aria-lable="phone link" class="empty-link"></a>408.246.0000</p>
          </div>
          
        </div>
        <div class="col-12 col-md-6 col-lg-2">
          
        </div>
        <div class="col-12 col-lg-6">
         
        </div>
      </div>
    </div>
  </div>
 {% include 'Partials/_footerPrimary.twig' %}
</flynt-component>