flynt-component[name='NavigationMain'] {
  background-color: #fff;
  min-height: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;
  --header-background-color: var(--color-white);
  --header-hamburger-color: var(--color-black);
  --header-top-link-color: var(--color-black);
  --header-color-transition: background-color 140ms ease-in-out;

  .admin-bar & {
    inset-block-start: var(--wp-admin--admin-bar--height);
  }

  .navigation {
    align-items: center;
    background-color: var(--header-background-color);
    display: flex;
    justify-content: flex-end;
    transition: var(--header-color-transition);
    width: 100%;


  }

  .navigation-isScrolled,
  &:hover {
    --header-background-color: var(--color-white);
    --header-hamburger-color: var(--color-black);
    --header-top-link-color: var(--color-black);

    .site-logo {
      &-transparent {
        display: block;
      }

      &-white {
        display: none;
      }
    }
  }

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }


  @import 'Partials/logo';
  @import 'Partials/menu';
  @import 'Partials/cta';
}